
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


*{font-family: 'Raleway', Arial, sans-serif;}

html.homeScreen{ 
    height:100%;

    body{
        height:100%;
        padding: 0;
    }

    h1.home-logo{
        position: absolute;
        margin: 15px 0 0 15px;
        color: #fff;
        a{
            color: #fff;
            -webkit-transition : color 500ms ease-in-out;
            -moz-transition : color 500ms ease-in-out;
            -o-transition : color 500ms ease-in-out;
            transition : color 500ms ease-in-out;
            &:hover{
                text-decoration: none;
                color: #333;
                cursor: pointer;
            }
        }
    }

    .social-links{
        position: absolute;
        right: 0;
        margin: 15px 15px 0 0;
    }

    .quote-box {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-flex-direction: row;
        -moz-box-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        height:100%;
        animation: pulsecolor 30s infinite;

        .quote {
            margin: auto;
            max-width:1200px;
            color: #333;
            text-align: center;
            padding: 0 20px;
            .quote-text{
                font-size: 38px;
                line-height: 48px;
            }
            .quote-author{
                font-size: 24px;
                font-style: italic;
            }
            .quote-date{
                font-size: 16px;
                color: #e5e5e5;
                // text-align: right;
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-weight: lighter;
        color: #fff;
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
                color: #333;
            }
        }
    }

    @keyframes pulsecolor {
        0% {
            background:#3495fe;
        }
        25% {
            background: #33b0fe;
        }
        50% {
            background:#32a6fe;
        }
        75% {
            background:#33b0fe;
        }
        100% {
            background:#3495fe;
        }
    }
}

body{
    background: #2367af;
    padding-top: 70px; 
}

.container{
    
}

a.social-link img{
    height: 25px;
    &:hover{
        opacity: .75;
    }
}

a.navbar-brand{
    -webkit-transition : color 500ms ease-in-out;
    -moz-transition : color 500ms ease-in-out;
    -o-transition : color 500ms ease-in-out;
    transition : color 500ms ease-in-out;
    &:hover{
        cursor: pointer;
        color: #2367af !important;
    }
}

section.quote{
    background: #fff;
    margin: 10px 0;
    &.admin{
        padding: 15px;
    }
    &:first-of-type{margin-top: 0;}
    &:hover{
        blockquote{
            border-left-color: #2367af;
        }
    }
    a.quote-link{
        display: block;
        height: 100%;
        width: 100%;
        padding: 15px 10px;
        color: #333;
        -webkit-transition : color 500ms ease-in-out;
        -moz-transition : color 500ms ease-in-out;
        -o-transition : color 500ms ease-in-out;
        transition : color 500ms ease-in-out;
        &:hover{
            text-decoration: none;
            color: #2367af;
            cursor: pointer;
        }
    }
    blockquote{
        margin-bottom: 5px;
        -webkit-transition : border 500ms ease-in-out;
        -moz-transition : border 500ms ease-in-out;
        -o-transition : border 500ms ease-in-out;
        transition : border 500ms ease-in-out;
        p.author{
            font-size: 12px;
        }
    }
    p.quote_date{
        font-size: 10px;
        font-style: italic;
        color: #999;
        margin-bottom: 0;
    }
}

.whiteBG{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    html.homeScreen{ 
        .quote-text{
            font-size: 20px !important;
            line-height: 26px !important;
        }
        .quote-author{
            font-size: 16px !important;
        }
    }
}